:root{
  --main-text-color: red;
  --main-background-color: ghostwhite;
}

.App {
  text-align: center;
  font-family: 'Iceberg', serif;
}

body{
  background-image: url("resources/nemesis-background.svg");
  background-color: var(--main-background-color);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center top;
  fill-opacity: 0.1;
}

footer{
  display:inline-flex;
}

.container{
  width: 100%;
}

.navbar{
  color: var(--main-text-color);
  justify-content: center;
}

.navbar-brand{
  margin-right: inherit;
}

.carousel{
  width: 80%;
}

.carousel-item{
  background-color: #282c34;
}

.carousel-caption{
  color: gray;
}

#loading-background{
  background-color: white;
  size: 50%;
}

#loading-image{
  animation: loading-image-spin infinite 1s ease-in-out;
}

#button-logo:hover{
  background-color: white;
  transform: scale(1.2);
  transition: all 0.6s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loading-image-spin{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}